li {
    list-style-type: none;
}

.gallery {
display: flex;
flex-wrap: wrap;
gap: 24px;
justify-content: center;
}

.gallery-image {
    width: 360px;
    height: 200px;
}

.gallery-link {
    cursor: url("../symbol-defs.svg"),  auto ;
}

.modal {
    background: rgba(46, 47, 66, 0.8);
    width: 1440px;
        height: 696px;
        display: flex;
        justify-content: center;
        align-items: center;
}